@import 'tailwindcss' theme(static);
@import '@nuxt/ui-pro';

@theme static {
  --font-sans: 'Nunito', sans-serif;

  --color-yellow-50: #fefdf7;
  --color-yellow-100: #fdfcef;
  --color-yellow-200: #faf6d6;
  --color-yellow-300: #f7f1bd;
  --color-yellow-400: #f2e78c;
  --color-yellow-500: #ecdc5a;
  --color-yellow-600: #d4c651;
  --color-yellow-700: #8e8436;
  --color-yellow-800: #6a6329;
  --color-yellow-900: #47421b;
  --color-yellow-950: #2f2c12;
}

::-webkit-scrollbar {
  width: 0.6em;
  height: 0.6em;
  @apply bg-transparent;
}

::-webkit-scrollbar-track {
  @apply bg-gray-100;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.6em;
  @apply bg-gray-300 hover:bg-gray-400;
}

.dark {
  & ::-webkit-scrollbar-track {
    @apply bg-gray-800;
  }

  & ::-webkit-scrollbar-thumb {
    @apply bg-gray-700 hover:bg-gray-600;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
