@theme static {
  --font-sans: "Inter", sans-serif;
}

:root {
  --ui-container: 90rem;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.md a {
  color: var(--ui-primary);
}

pre .shiki span.line {
  display: inline;
}

main {
  min-height: calc(100vh - 150px);
}
